<header class="header">
  <div class="header_default">
    <div class="header_default__header-left">
      <div class="logo logo-header">
        <a href="/">
          <p class="hidden">stx건설</p>
        </a>
      </div>
    </div>
    <div class="header_default__header-center">
      <nav class="menu menu-header">
        <p class="after"></p>
        <ul class="menu-main">
          <li>
            <a href="">
              <h2>회사소개</h2>
            </a>
            <ul class="menu-sub">
              <li><a href="">인사말</a></li>
              <li><a href="">STX건설</a></li>
              <li><a href="">기업문화</a></li>
              <li><a href="">STX건설연혁</a></li>
              <li><a href="">조직안내</a></li>
              <li><a href="">윤리경영</a></li>
              <li><a href="">안전·보건·품질경영</a></li>
              <li><a href="">찾아오시는길</a></li>
            </ul>
          </li>
          <li>
            <a href="">
              <h2>사업분야</h2>
            </a>
            <ul class="menu-sub">
              <li><a href="">건축사업</a></li>
              <li><a href="">주택사업</a></li>
              <li><a href="">토목사업</a></li>
              <li><a href="">플랜트/공작기계산업</a></li>
              <li><a href="">해외사업</a></li>
            </ul>
          </li>
          <li>
            <a href="">
              <h2>사회공헌</h2>
            </a>
            <ul class="menu-sub">
              <li><a href="">나눔의생각</a></li>
              <li><a href="">주요활동분야</a></li>
              <li><a href="">활동현황</a></li>
            </ul>
          </li>
          <li>
            <a href="">
              <h2>홍보센터</h2>
            </a>
            <ul class="menu-sub">
              <li><a href="">홍보동영상</a></li>
              <li><a href="">홍보브로슈어</a></li>
              <li><a href="">STX건설뉴스</a></li>
            </ul>
          </li>
          <li>
            <a href="">
              <h2>고객지원</h2>
            </a>
            <ul class="menu-sub">
              <lu><a href="">자주묻는질문</a></lu>
              <lu><a href="">고객문의</a></lu>
            </ul>
          </li>
          <li>
            <a href="">
              <h2>채용정보</h2>
            </a>
            <ul class="menu-sub">
              <li><a href="">채용안내</a></li>
              <li><a href="">채용공고</a></li>
              <li><a href="">채용FAQ</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header_default__header-right">
      <div class="btn btn-header">
        <a href="" class="btnENG">ENG</a>
        <a href="" class="btnKOR on">KOR</a>
      </div>
    </div>
  </div>
  <div class="header_mobile"></div>
</header>
